  body {
    background-color: #FFF;
    margin: 0 auto;
  }
  nav {
    background: #466995;
  }
  
  .nav {
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
  }
  
  .logo img {
    width: 100px;
    height: 65px;
  }

  .logo,
  .menu {
    display: flex;
    align-items: center;
    margin-left: 15px;
  }
  
  .logo,
  .menu1 {
    padding: 30px 30px;
    margin-right: 15px;
  }
  
  .menu1 a,
  .logo a {
    color: #FFF;
  }
    
  h1 {
    color: #466995;
    font-family: 'Oswald', sans-serif;
    font-size: 32px;
    font-weight: 300;
    text-transform: uppercase;
    }
  
  h2 {
    color: #466995;
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    padding: 10px;
  }
  
  p {
    color: #333;
    font-family: 'Varela Round', sans-serif;
    font-size: 18px;
  }
  
  .welcome {
    position: relative;
    top: 50px;
    background-color: #DBE9EE;
    box-sizing: border-box;
    padding: 40px;
    text-align: center;
    width: 100%;
  }
  
  .start {
    text-align: center;
    margin-top: 30px;
  }
  
  .start a {
    background-color: #9DD1F1;
    border-radius: 3px;
    color: #004E89;
    font-family: 'Yantramanav', sans-serif;
    font-size: 16px;
    font-weight: 300;
    display: inline-block;
    margin: 10px;
    padding: 12px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
  }
  .start a:hover {
    color: #FFF;
    font-size: 120%;
  }
  
  .section {
    margin-top: 20px;
  }
  .what {
    width: 40%;
    text-align: justify;
    position: absolute;
    margin-left: 19px;
    margin-top: 30px;
    line-height: 22px;
    left: 50%;
  }
  .gambar {
    position: relative;
    float: left;
    margin-left: 75px;
    margin-top: 161px
  }
  .card1 {
    background-color: #004E89;
    display: inline-block;
    height: 338px;
    margin-top: -10%;
    margin-left: -1%;
    padding: 30px auto;
    text-align: center;
    width: 488px;
  }
  .card1 img {
    margin-top: 36px;
    margin-left: 28px;
  }
  
  .main {
    display: inline-block;
    margin-top: 30px;
  }
  .why {
    position: relative;
    top: 30px;
    text-align: center;
  }
  .why p {
    width: 90%;
    margin-left: 70px;
  }
  
  .gallery {
    position: relative;
    text-align: center;
    top: 30px;
    margin-bottom: 45px;
  }
  .card {
    border: 2px solid #9DD1F1;
    display: inline-block;
    height: 468px;
    margin-top: 4px;
    padding: 30px auto;
    text-align: center;
    width: 516px;
  }
  .card:hover {
    background-color: #004E89;
    border-color: #004E89;
  }
  
  .card p {
    color: #9DD1F1;
    font-size: 40px;
  }
  .card p:hover {
    color: #FFF;
  }
  
  .card img {
    padding-top: 0px;
  }
  .media {
    width: 300px;
    height: 400px;
  }
  .contact {
    width: 100%;
    height: 100%;
    position: absolute;
  }
  .follow {
    width: 40%;
    text-align: center;
  }
  .card2 {
    position: relative;
    float: right;
    margin-right: 36%;
    margin-top: -25%;
  }
  .icon img {
    width: 7%;
    margin-bottom: 2%;
  }
  
  footer {
    display: block;
    position: relative;
    margin-top: 10%;
    background: #004E89
  }
  footer .footer {
    color: white;
    padding: 22px;
    text-align: center;
    position: static;
  }